.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.calendar-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto repeat(6, 1fr);
    gap: 1vh;
    justify-items: center;
    width: 100%;
}

.week-days{
    background-color: rgb(59, 59, 59);
    color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    padding: 1vh 0;
    justify-items: center;
    width: 100%;
}

.previous-days {
    color: rgb(199, 199, 199);
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    margin: 0 auto;
    gap: 2vh;
}

.day {
    cursor: pointer;
}

.selected {
    background-color: chartreuse;
}